*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#ImagenLocal{
margin-left: 35px;
margin-top: 15px;
}

#ImagenVisitante{
margin-top: 15px;
margin-right: 135px;
}

#warning{
margin-left: 300px;
margin-left: 20px;
}
.cabecera{
background-image: url("../static/img/slashes.png");
height: 150px;
}

h1{
  font-size: 4em;
}

#raya{
border-width: 5px;
font-weight: bold;

}

#formulario{
  background-image: url("../static/img/fondo4.jpg");
  width: 900px;
  border: 2px solid rgb(34, 162, 172);
  padding: 25px 40px 20px ;
  margin-left: 190px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#comen{

  background-color: rgb(3, 3, 3);
  border-radius: 18px;
  color: rgb(224, 24, 24);


}

#porra{
  margin-left: 20px;
  color: seashell;
}

#co{
  margin-left: 250px;

}

.importante{
  font-weight:bold;
  color: rgb(255, 255, 255);
  margin-left: 8px;
  
}

#teamLocal{
padding: 8px 20px 10px ;
border-style:groove;
margin-left: 0px ;

}
#teamVisitante{
padding: 8px 20px 10px ;
margin-left: 220px ;
border-style:groove;
}

#botonLimpiar{
  padding:  8px 20px 10px ;
  margin-left: 200px ;
}

form{
  margin-left: 80px;
}

#partido{
  font-size: 50px;
  font-weight: bold;
  margin-left: 215px;
}

#equipoVisitante{
  margin-left: 300px;
  font-weight: bolder;
  font-size: 20px;
}

#equipoLocal{
  font-weight: bolder;
  font-size: 20px;
}

#resultadoBoton{
  padding: 8px 20px 10px;
  border-radius: 10px;
  margin-left: 260px; 
  margin-top: 5px;
}

#comentarios{
  margin-left: 100px;
}

.row{
  background-image: url("../static/img/fondo3.jpg");
  margin-left: 1px;
}

#resul{
  background-color: rgb(221, 218, 29);
  border-style:solid;
  border-color: rgba(255, 208, 0, 0.781);
}