{%  extends 'layout.html' %}
{% block body %}
<body>
  <div class="cabecera">
    <h1 class="importante">Predictor de fútbol</h1>
    <p class="importante">Aplicación Web que nos permitirá predecir resultados en tiempo real.</p>
  </div>

<hr id="raya">
<div class="row">
  <div class="col-md-5">
    {% with messages = get_flashed_messages() %}
    {%  if messages %}
    {%  for message in messages %}
  
    <div id="warning" class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message}}
      <button  id="Botonwarning" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{%  endfor %}
{%  endif %}
{%  endwith %}
    <div class="card card-body" id="formulario">
      <form action="/add" method="POST">
        <label id = "partido"> Partido</label> <br>
        <label id="equipoLocal" for="teams" align = left>Equipo local:</label>
        <label  id="equipoVisitante" for="teams">Equipo visitante:</label align = right><br>
        <select name="local" id="teamLocal" align = left>
        </select> 
        <select  id ="teamVisitante" name="visitante"  align = right>
        </select> <br>
        <img  id="ImagenLocal" src="../static/img/madrid.png" alt="" width="120" height="120"  align = left>
        <img id="ImagenVisitante" src="../static/img/barcelona.png" alt="" width="120" height="120"  align = right>
        <div class="form-group">
          <br><br>
          <button id="resultadoBoton" type="submit"  class="center" align = right> Resultado </button>
        </div> 
        <br><br>
        <textarea id="comentarios" name="Comentarios" placeholder="Escribe tu comentario aqui" cols="50" rows="6"></textarea>
        <br><br>
        <!--<input  id ="botonLimpiar" type="reset" name="limpiar" value="Limpiar el formulario"> -->
        <br>
        {% block content %}
        {% endblock %}
       </form>
    </div>
  </div>
</div>

<script src="../static/js/jquery.js"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!--<script src="../static/json/equipos.json"></script>-->

<script>

  html = "";
  equipos = [
  {
            "id": "1",
            "name": "Real Madrid",
            "in": "mad"
        },
        {
            "id": "2",
            "name": "Valencia CF",
            "in": "vale"
        },
        {
            "id": "3",
            "name": "RCD Mallorca",
            "in": "mall"
        },
        {
            "id": "4",
            "name": "CD Leganés",
            "in": "lega"
        },
        {
            "id": "5",
            "name": "Villarreal CF",
            "in": "villa"
        },
        {
            "id": "6",
            "name": "Deportivo Alavés",
            "in": "alave"
        },
        {
            "id": "7",
            "name": "RCD Espanyol",
            "in": "espany"
        },
        {
            "id": "8",
            "name": "Real Betis",
            "in": "betis"
        },
        {
            "id": "9",
            "name": "Atlético Madrid",
            "in": "atlma"
        },
        {
            "id": "10",
            "name": "Granada CF",
            "in": "grana"
        },
        {
            "id": "11",
            "name": "Levante UD",
            "in": "levan"
        },
        {
            "id": "12",
            "name": "CA Osasuna",
            "in": "osasu"
        },
        {
            "id": "13",
            "name": "RC Celta Vigo",
            "in": "celta"
        },
        {
            "id": "14",
            "name": "Getafe CF",
            "in": "get"
        },
        {
            "id": "15",
            "name": "FC Barcelona",
            "in": "barce" 
        },
        {
            "id": "16",
            "name": "Sevilla FC",
            "in": "sev"
        },
        {
            "id": "17",
            "name": "Athletic Club Bilbao",
            "in": "athl"
        },
        {
            "id": "18",
            "name": "Real Sociedad",
            "in": "realso"
        },
        {
            "id": "19",
            "name": "SD Eibar",
            "in": "eibar"
        },
        {
            "id": "20",
            "name": "Real Valladolid CF",
            "in": "vallad"
        }
    ]

  for(var key in equipos) {
      html += "<option value=" + equipos[key].in  + ">" +equipos[key].name + "</option>"
  }
  
  document.getElementById("teamLocal").innerHTML = html;

</script>

<script> 

htmll = "";
  teams = [
        {
            "id": "1",
            "name": "FC Barcelona",
            "in": "barce"
        },
        {
            "id": "2",
            "name": "Valencia CF",
            "in": "vale"
        },
        {
            "id": "3",
            "name": "RCD Mallorca",
            "in": "mall"
        },
        {
            "id": "4",
            "name": "CD Leganés",
            "in": "lega"
        },
        {
            "id": "5",
            "name": "Villarreal CF",
            "in": "villa"
        },
        {
            "id": "6",
            "name": "Deportivo Alavés",
            "in": "alave"
        },
        {
            "id": "7",
            "name": "RCD Espanyol",
            "in": "espany"
        },
        {
            "id": "8",
            "name": "Real Betis",
            "in": "betis"
        },
        {
            "id": "9",
            "name": "Atlético Madrid",
            "in": "atlma"
        },
        {
            "id": "10",
            "name": "Granada CF",
            "in": "grana"
        },
        {
            "id": "11",
            "name": "Levante UD",
            "in": "levan"
        },
        {
            "id": "12",
            "name": "CA Osasuna",
            "in": "osasu"
        },
        {
            "id": "13",
            "name": "RC Celta Vigo",
            "in": "celta"
        },
        {
            "id": "14",
            "name": "Getafe CF",
            "in": "get"
        },
        {
            "id": "15",
            "name": "Real Madrid",
            "in": "mad"  
        },
        {
            "id": "16",
            "name": "Sevilla FC",
            "in": "sev"
        },
        {
            "id": "17",
            "name": "Athletic Club Bilbao",
            "in": "athl"
        },
        {
            "id": "18",
            "name": "Real Sociedad",
            "in": "realso"
        },
        {
            "id": "19",
            "name": "SD Eibar",
            "in": "eibar"
        },
        {
            "id": "20",
            "name": "Real Valladolid CF",
            "in": "vallad"
        }
    ]

  for(var key in teams) {
      htmll += "<option value=" + teams[key].in  + ">" +teams[key].name + "</option>"
  }
document.getElementById("teamVisitante").innerHTML = htmll;
</script>

<script> 
var selectt = document.getElementById('teamVisitante');
selectt.addEventListener('change',
  function(){
    var selectedOption = this.options[selectt.selectedIndex];
    console.log(selectedOption.value + ': ' + selectedOption.text);
    document.getElementById("ImagenVisitante").src="../static/img/"+ selectedOption.text +".png";
  });
</script>

<script> 
  var select = document.getElementById('teamLocal');
  select.addEventListener('change',
    function(){
      var selectedOption = this.options[select.selectedIndex];
      console.log(selectedOption.value + ': ' + selectedOption.text);
      document.getElementById("ImagenLocal").src="../static/img/"+ selectedOption.text +".png";
    });
  </script>

{% endblock %}



